*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  padding-left: 0%;
  padding-right: 0%;
}

.container {
  background-image: url(../images/desctop/desktop.jpg);
}

.slider {
  min-width: 0;
  position: relative;
  padding: 0px 50px;
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
// /* Слайд */
// .slick-slide {
// }
// /* Слайд активный (показывается) */
// .slick-slide.slick-active {
// }
// /* Слайд основной */
// .slick-slide.slick-current {
// }
// /* Слайд по центру */
// .slick-slide.slick-center {
// }
// /* Клонированный слайд */
// .slick-slide.slick-cloned {
// }
/* Стрелка */
.slider.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  overflow: hidden;
}
/* Стрелка влево */
.slider.slick-arrow.slick-prev {
  left: 0;
}
/* Стрелка вправо */
.slider.slick-arrow.slick-next {
  right: 0;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
/* Активная точка */
.slick-dots li.slick-active button {
  background-color: #84a178;
  //   border: 1px solid #fff;
}
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #d9d9d9;
  border-radius: 50%;
  border-color: transparent;
}

.slider_item {
  text-align: center;
}
img {
  border-radius: 50%;
}
.slider_img {
  margin-bottom: 32px;
}
.slider_text {
  background: #84a178;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.58;
  letter-spacing: 0.04em;
  text-align: center;
  justify-content: center;
  color: #fcfcfc;
  margin-bottom: 32px;
  @media screen and (min-width: 480px) {
    width: 280px;
    height: 256px;
  }
  @media screen and (min-width: 768px) {
    width: 705px;
    height: 138px;
  }
  @media screen and (min-width: 1200px) {
    width: 938px;
  }
}

.slider_title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;

  text-align: center;

  color: #131313;
  margin-bottom: 32px;
}
